
$main_color: #FF2741;
$main_color_bg_disabled: rgba(252, 40, 70, 0.4);
$input_bg_color: #F6F6FA;
$important_text_color: #333333;
$info_text_color: #74747A;
$border_color: #E5E6E9;
$minor_text_color: #747480;